.footer {
    background-color: #0b1147;
    color: white;
    padding: 40px 0;
}
.footer .logo {
    max-width: 150px;
    margin-bottom: 20px;
}
.footer a {
    color: white;
}
.footer a:hover {
    text-decoration: none;
}
.footer .social-icons a {
    color: white;
    margin-right: 10px;
}
.footer .social-icons a:hover {
    color: #0b76ef;
}

.verticalLine{
    border-left: 1px solid ;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 20;
}