.footer {
    background-color: #0b1147;
    color: white;
    padding: 40px 0;
}
.footer .logo {

    margin-bottom: 20px;
}
.footer a {
    color: white;
}
.footer a:hover {
    text-decoration: none;
}
.footer .social-icons a {
    color: white;
    margin-right: 10px;
}
/* .footer .social-icons a:hover {
    color: #0b76ef;
} */

/* .verticalLine{
    border-left: 1px solid ;
    height: 33%;
    position: absolute;
    left: 45%;
    margin-left: -3px;
    top: 20;
    width: 1%;
} */

.ms-6
{
    margin-left: 80px !important;
}

.custom-list ul li::before {
    content: '•'; /* Unicode bullet character */
    color: rgb(12, 189, 12); /* Change this to your desired color */
    font-size: 1.5em; /* Adjust bullet size if necessary */
    display: inline-block;
    width: 1em; /* Adjust spacing between bullet and text */
    margin-left: -1em; /* Adjust alignment */
}

.ms-47
{
    margin-left: 47px !important;
}

/* @media (max-width: 991.98) {
    .border-start{
        
        display: none !important;
        
    }
} */


@media (max-width: 576px) {
    .responsive-text {
        width: 100% !important;
    }
}